html,
body {
  height: 100%;
  overflow: visible;
}
.slider__contents {
  width: 100px;
  height: 200px;
}

img {
  margin-left: -30px;
  width: 230px;
  height: 170px;
}
.slider__inner {
  width: 500%;
  height: auto;
}
.date {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 10px;
}

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -300%;
}
h3 {
  text-align: center;
}
/* .grid{
      animation: menuewrap 2s linear;
  } */
@media (max-width: 700px) {
  .contact-me {
    display: none;
  }
  .navbar {
    display: none;
  }
}
@media (max-width: 650px) {
  .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: -40%;
  }
  .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -400%;
  }
  .grid {
    overflow: scroll;
  }
}
